extends ../layout/main

block content
  section.section
    h2.heading О нас
    p.
      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
    p.
      Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется <a href="#" class="link">Lorem Ipsum</a>.
  section.section
    h2.heading Популярные разделы
    .grid
      .grid__item
        a.grid__link(href="#")
          img.grid__picture(src="./assets/img/iphone.jpg")
          .grid__overlay Телефоны
      .grid__item
        a.grid__link(href="#")
          img.grid__picture(src="./assets/img/makbuk.jpg")
          .grid__overlay Ноутбуки
      .grid__item
        a.grid__link(href="#")
          img.grid__picture(src="./assets/img/microphone.jpg")
          .grid__overlay Микрофоны
      .grid__item
        a.grid__link(href="#")
          img.grid__picture(src="./assets/img/ps4.jpg")
          .grid__overlay Игровые приставки
