nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link.link(href="#") Главная
    li.nav__item
      a.nav__link.link(href="#") О нас
    li.nav__item
      a.nav__link.link(href="#") Новости
    li.nav__item
      a.nav__link.link(href="#") Новинки
    li.nav__item
      a.nav__link.link(href="#") Доставка
    li.nav__item
      a.nav__link.link(href="#") Контакты
