.nav {
  font-size: 1.1875rem;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  padding: 1.33rem;
  display: block;
}

.btn-nav {
  border: 0;
  background: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.btn-nav:hover {
  background: #dadada;
}
.btn-nav__line {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: black;
  margin-bottom: 3px;
}
.btn-nav__line:last-child {
  margin-bottom: 0;
}
.nav__btn {
  text-align: right;
  margin: 0.7rem 0;
  display: none;
}
