nav.nav
  .nav__btn
    button.btn-nav(type="button" data-target="#nav-main")
      span.btn-nav__line
      span.btn-nav__line
      span.btn-nav__line
  ul.nav__list#nav-main
    li.nav__item
      a.nav__link.link(href="#") Главная
    li.nav__item
      a.nav__link.link(href="#") О нас
    li.nav__item
      a.nav__link.link(href="#") Новости
    li.nav__item
      a.nav__link.link(href="#") Новинки
    li.nav__item
      a.nav__link.link(href="#") Доставка
    li.nav__item
      a.nav__link.link(href="#") Контакты
