//- .menu
//-   ul
//-     li
//-       a(href="../../pages/index.html") Ссылка на главную
//-     li
//-       a(href="#") text
//-     li
//-       a(href="#") Текст
//-     li
//-       a(href="#") TeXt