.owl-carousel.slider
  .slider__item(style="background-image: url(assets/img/slide.jpg);")
  .slider__item(style="background-image: url(assets/img/slide.jpg);")
  .slider__item(style="background-image: url(assets/img/slide.jpg);")
