@import "./normalize.scss";
@import "./pug/includes/layout/main.scss";
@import "./media.scss";

h1 {
  text-align: center;
  color: #243f7a;
}

form {
  margin: 0px auto;
  border: 1px solid lightgrey;
  max-width: 900px;
  padding: 0 20px;
  color: #243f7a;
  font-weight: bold;
  background-color: rgb(231, 231, 231);

  p {
    margin-top: 2em;
    font-size: 1rem;
  }

  #content {
    min-width: 98.5%;
    height: 150px;
    resize: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 0 4px 10px;
    background: #f6f6f6;
  }

  #short-text {
    min-width: 50%;
    height: 8rem;
    resize: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 0 4px 10px;
    background: #f6f6f6;
  }
  input {
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 0 4px 10px;
  }
  .publich-button {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 1.5em;
    outline: none;
    border-width: 2px 0;
    border-radius: 6px;
    transition: 0.2s;
  }
  .publich-button:hover {
    background: lightblue;
  }
  .publich-button:active {
    background: rgb(194, 230, 241);
  }
}