doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Размещеие новостей
    link(rel="stylesheet" href="../../../index.scss")
  body(style="background-image: url(./assets/img/bg.jpg)")
    include ./header/header.pug
    block content