doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Верстка сайта
    link(rel="stylesheet" href="../../../index.scss")
  body.page
    .page__row
      .page__cell
        include ./header/header.pug
    .page__row
      .page__cell
        include ./nav/nav.pug
    block content
