doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Верстка сайта
    //- link(rel="stylesheet" type="text/css" href="../../../lib/owlcarousel/owl.carousel.min.css")
    //- link(rel="stylesheet" href="../../../index.scss")
  body.page
    .page__row
      .page__cell
        include ./header/header.pug
    .page__row
      .page__cell
        include ./nav/nav.pug
    .page__row
      include ./slider/slider.pug
    .page__row
      .page__cell
        block content
