doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Верстка сайта
  body.page
    .page__row
      .page__cell
        include ./header/header.pug
    .page__row
      .page__cell
        include ./nav/nav.pug
    .page__row
      include ./slider/slider.pug
    .page__row
      .page__cell
        block content
    .page__row--footer
      .page__cell
        include ./footer/footer.pug
