html {
  font-size: 100%;
}

button, input, textarea {
  outline: none;
}

.page {
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375;
  color: #000;
}

.page__cell {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  color: #000;
}
.link:hover {
  color: #f44336;
}
